<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/resource/css/posting.css">
<th:block th:replace="view/layout/header :: headerFragment"></th:block>
<body>
<div class="posting_container">

    <div class="form_area">

        <!-- img thumbnail -->
        <span>사진미리보기</span>
        <div class="img_thumbnail">
            <div class="image_container" id="image_container">

            </div>
            <div class="image_container">

            </div>
        </div>

        <!-- input area -->
        <form th:action="@{/upload}" method="POST" enctype="multipart/form-data" autocomplete="off" class="posting">

            <div class="input_area">
                <div class="file_form">
                    <div class="file_box">
                        <label for="ex_file">
                            Choose file
                        </label>
                        <input type="file" name="file" multiple="multiple"
                               class="upload" id="ex_file" accept="image/**"
                               onchange="setThumbnail(event)">
                    </div>
                    <input class="upload_name" value="파일선택" disabled="disabled">
                </div>
                <input type="text" name="caption" class="form_caption" placeholder="Photo caption">
                <input type="hidden" id="usernick" name="usernick" th:value="${user.get().usernick}">
                <button type="submit" class="post_btn">POST</button>
            </div>

        </form>

    </div>
    <div class="back_button">
        <a href="">Go back</a>
    </div>

</div>
<script src="/resource/js/posting.js"></script>
<script>
    function setThumbnail(event) {
        var reader = new FileReader();

        reader.onload = function(event) {
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            document.querySelector("#image_container").appendChild(img);
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>


</body>
</html>