<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div id="image_container"></div>
<form th:action="@{/upload}" method="POST" enctype="multipart/form-data" autocomplete="off">
    <input type="hidden" id="usernick" name="usernick" th:value="${user.get().usernick}">
    <input type="file" multiple="multiple" name="file" placeholder="file upload" accept="image/**"
    onchange="setThumbnail(event)">
    <input type="text" name="caption" placeholder="caption">
    <button type="submit">submit</button>





</form>

<script>
    function setThumbnail(event) {
        var reader = new FileReader();

        reader.onload = function(event) {
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            document.querySelector("div#image_container").appendChild(img);
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>


</body>
</html>