<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="view/layout/header :: headerFragment"></th:block>
<div class="post_details_main">

    <div id="modal-box">
        <div id="modal-like_list"></div>
        <div id="modal-post"></div>
    </div>

    <article class="detail_main_container">

        <div class="post_user_info" id="modal-post_detail">

            <img th:if="${post.get.user.userimg} eq null"
                 src="/static/img/profile/Basic.png" alt="usericon">
            <img th:unless="${post.get.user.userimg} eq null"
                 th:src="@{'/upload/profile/' + ${post.get.user.userimg} }" alt="usericon">

            <a th:href="@{'/main/user/' + ${post.get.user.usernick} }"
               class="post_username" th:text="${post.get.user.usernick}"></a>

            <div class="post_edit_box">
                <th:block th:if="${loginUser.get.id == post.get.user.id}">
<!--                    <a href="">Edit</a>-->
                    <a th:href="@{'/deletePost/' + ${post.get.id}}">Deletet</a>
                </th:block>
            </div>

        </div>

        <div class="post_img post_detail_img">
            <img th:src="@{'/upload/' + ${post.get.imgurl}}" alt="postimg">
        </div>

        <div class="posting_info">
            <div class="posting_caption">
                <a th:href="@{'/main/user/' + ${post.get.user.usernick} }"
                   class="info_username" th:text="${post.get.user.usernick}"></a>
                <span th:text="${post.get().caption}"></span>
            </div>
            <div class="post_info_details">
                <div class="post_info_icon">
                    <i th:if="${post.get.likeState} eq true" th:onclick="|unlike('${post.get.id}','${loginUser.get.id}')|"
                       th:id="'like'+${post.get.id}" class="fa fa-thumbs-up heart-clicked fa-2x"></i>
                    <i th:if="${post.get.likeState} eq false" th:onclick="|like('${post.get.id}','${loginUser.get.id}')|"
                       th:id="'like'+${post.get.id}" class="far fa-thumbs-up fa-2x"></i>
                </div>
                <th:block th:each="lc : ${likes}">
                    <div class="like_count" th:if="${lc.postid == post.get.id} and ${lc.count} > 0">
                        <a th:onclick="|likelist('${post.get.id}')|">
                            <span th:text="${lc.count} + 'Likes'"></span>
                        </a>
                    </div>
                </th:block>

            </div>


            <div class="post_date">
                <a th:text="${#calendars.format(post.get().create_date, 'MM/dd')}"></a>
            </div>
        </div>
        <th:block th:each="listc : ${comment}">
            <div class="post_comment_area" th:if="${post.get.id} eq ${listc.postid.id}">
                <div class="comment_user_area">
                    <a th:href="@{ '/main/user/' + ${listc.userid.usernick} }" class="comment_username"
                       th:text="${listc.userid.usernick}">userid</a>
                    <span th:text="${listc.content}"></span>
                </div>
                <div class="comment_edit_area" th:if="${listc.userid.id} eq ${loginUser.get.id}">
<!--                    <a th:onclick="|commnetEdit('${post.get.id}')|" class="comment_edit">Edit</a>-->
                    <a th:onclick="|commentDlete('${listc.id}')|" class="comment_edit">Delete</a>
                </div>
            </div>

        </th:block>


        <div class="post_add_comment">
            <form class="add_comment_area" th:id="'ci'+${post.get().id}">
                <input type="hidden" id="postid" name="postid" th:value="${post.get().id}">
                <input type="hidden" th:id="'userid' + ${post.get().id}" name="userid" th:value="${loginUser.get().id}">
                <textarea name="content" class="content" th:id="'content'+${post.get.id}" th:onclick="|insert('${post.get.id}')|"
                          placeholder="Add a comment"></textarea>
                <button th:onclick="|commentSend('${post.get().id}')|"
                        th:id="'post_btn' + ${post.get.id}" class="post_btn" disabled>Post</button>
            </form>
        </div>

    </article>

</div>
<th:block th:replace="view/layout/footer :: footerFragment"></th:block>
</body>
</html>

