<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="modal-post" class="modal-list posting_area">
    <div class="posting_container">

        <div class="form_area">

            <!-- img thumbnail -->
            <span>Preview</span>
            <div class="img_thumbnail">
                <div class="image_container" id="image_container">
                </div>
            </div>

            <!-- input area -->
            <form enctype="multipart/form-data" autocomplete="off" class="posting" id="postform">

                <div class="input_area">
                    <div class="file_form">
                        <div class="file_box">
                            <label for="ex_file">
                                Choose file
                            </label>
                            <input type="file" name="files" multiple accept="image/**"
                                   class="upload" id="ex_file" onchange="setThumbnail(event)">
                            <input class="upload_name" value="Choose File" disabled="disabled">
                        </div>

                    </div>
                    <textarea name="caption" class="form_caption" placeholder="Photo caption"></textarea>
                    <input type="hidden" id="usernick" name="usernick" th:value="${user.get().id}">
                    <button type="submit" class="post_btn modal-pst-btn" th:onclick="savePosting()" disabled>POST</button>
                </div>

            </form>
            <div class="back_button">
                <a href="">Go back</a>
            </div>

        </div>


    </div>
</div>

<script src="/static/js/posting.js"></script>
<script src="/static/js/modal.js"></script>

</html>