<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="/static/js/modal.js"></script>

    <div id="modal-following_list" class="modal-list following_list">
        <div class="modal-follow-box">

            <div class="follow_list_title">
                <h2>Following List</h2>
                <button class="modal-close" id="modal-button">
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="follow_list">
                <th:block th:each="fwlist : ${followinglist}">
                    <div class="follow_list_box">
                        <div class="modal-follow_list_img">
                            <img th:if="${fwlist.followerid.userimg} != null"
                                 th:src="@{'/upload/profile/' + ${fwlist.followerid.userimg} }" alt="">
                            <img th:unless="${fwlist.followerid.userimg}"
                                 th:src="@{'/resource/img/profile/Basic.png'}" alt="">
                        </div>
                        <div class="modal-follow_list_username">
                            <a th:href="@{'/main/user/' + ${fwlist.followerid.usernick} }"
                               th:text="${fwlist.followerid.usernick}"></a>
                        </div>
                    </div>
                </th:block>

            </div>

        </div>
    </div>

