<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">

    <link rel="stylesheet" href="/resource/css/header.css">

    <div class="header_area">
        <!-- searchbar area -->
        <div class="search_bar_area">
            <input type="text" name="search" id="search"
                   placeholder="search" />
            <label for="search">search</label>
            <button type="submit">Search</button>
        </div>
        <!-- header title area -->
        <div class="header_title">
            <a href="/ipro/main">
                <h1>SnsProject</h1>
            </a>
        </div>
        <!-- header_user_nav_area -->
        <div class="user_area">
            <a href="/ipro/main">
                <img src="/resource/img/header/home.png" alt="home">
            </a>
            <a href=""><img src="/resource/img/header/likes.png" alt="likes"></a>
            <a href=""><img src="/resource/img/header/message.png" alt="message"></a>
            <a th:href="@{/ipro/main/user/}">
                <img th:src="@{/resource/img/header/basic.png}"
                     alt="userhome" class="user_feed_area">
            </a>
            <a href="/ipro/post">
                <img src="/resource/img/header/posting.png" alt="posting">
            </a>
        </div>

    </div>

</header>
