<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/resource/css/edit.css">
<th:block th:replace="view/layout/header :: headerFragment"></th:block>
<title>Edit Profile</title>

<body>
    <div class="body">
        <div id="modal-box">
            <div id="modal-post"></div>
            <div id="modal-img_insert"></div>
        </div>
        <div class="edit_body">
            <form th:action="@{'/ipro/user/user_edit'}" method="post">
                <!-- profile_img area -->
                <div class="profile_img_area">
                    <div th:unless="${user.get().getUserimg()} eq null">
                        <a th:onclick="|profileImgEdit2('${user.get.id}','${loginId}')|">
                            <img th:src="@{'/resource/img/profile/'+ ${user.get.userimg} }"
                                 alt="user_icon" class="user_img_icon">
                        </a>
                    </div>
                    <div th:if="${user.get().getUserimg()} eq null ">
                        <a th:onclick="|profileImgEdit2('${user.get.id}','${loginId}')|">
                            <img th:src="@{'/resource/img/profile/Basic.png'}"
                                 alt="user_icon" class="user_img_icon">
                        </a>
                    </div>
                    <div class="profile_img_edit_area">
                    <span class="img_edit_usernick_area">
                        <p th:text="${user.get().usernick}"></p>
                    </span>
                        <span class="img_edit">
                        <a th:onclick="|profileImgEdit2('${user.get.id}','${loginId}')|">Profile img edit</a>
                    </span>
                    </div>
                </div>
                <!-- user_nickname area -->
                <div class="profile_username_area">
                    <input type="text" id="nick" name="usernick" autocapitalize="off"
                           th:value="${user.get().usernick}" required>
                    <label for="nick">Username</label>
                </div>
                <!-- user_realname area -->
                <div class="profile_userRname_area">
                    <input type="text" id="rname" name="userfull" autocapitalize="off"
                           th:value="${user.get().userfull}" required>
                    <label for="rname">Name</label>
                </div>
                <!-- user_introduce area -->
                <div class="profile_introduce_area">
            <textarea name="userintro" id="intro" cols="30" rows="10"
                      th:text="${user.get().getUserintro()}"></textarea>
                    <label for="intro">Introduce</label>
                </div>
                <div class="btn_area">
                    <button type="submit">submit</button>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="view/layout/footer :: footerFragment"></th:block>
    <script src="/resource/js/posting.js"></script>
</body>
</html>