<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/static/css/edit.css">
<th:block th:replace="view/layout/header :: headerFragment"></th:block>
<title>Edit Profile</title>

<body>
    <div class="body">
        <div id="modal-box">
            <div id="modal-post"></div>
            <div id="modal-img_insert"></div>
        </div>
        <div class="edit_body">
            <form th:action="@{'/user/user_edit'}" method="post" th:object="${userDto}">
                <!-- profile_img area -->
                <div class="profile_img_area">
                    <div th:unless="${user.get().getUserimg()} eq null">
                        <a th:onclick="|profileImgEdit2('${user.get.id}','${loginId}')|">
                            <img th:src="@{'/upload/profile/'+ ${user.get.userimg} }"
                                 alt="user_icon" class="user_img_icon">
                        </a>
                    </div>
                    <div th:if="${user.get().getUserimg()} eq null ">
                        <a th:onclick="|profileImgEdit2('${user.get.id}','${loginId}')|">
                            <img th:src="@{'/static/img/profile/Basic.png'}"
                                 alt="user_icon" class="user_img_icon">
                        </a>
                    </div>
                    <div class="profile_img_edit_area">
                    <span class="img_edit_usernick_area">
                        <p th:text="${user.get().usernick}"></p>
                    </span>
                        <span class="img_edit">
                        <a th:onclick="|profileImgEdit2('${user.get.id}','${loginId}')|">Profile img edit</a>
                    </span>
                    </div>
                </div>

                <div class="int_area profile-int-area">
                    <!-- user_nickname area -->
                    <input type="text" id="nick" name="usernick" autocapitalize="off" th:field="*{usernick}"
                           th:value="${user.get().usernick}" placeholder="Username">
                    <label for="nick" style="left: .6rem">Username</label>
                    <span th:if="${#fields.hasErrors('usernick')}" th:errors="*{usernick}"></span>
                    <p th:text="${userDto.usernick}"></p>
                </div>
                <div class="profile-int-area int_area">
                    <!-- user_realname area -->
                    <input type="text" id="rname" name="userfull" autocapitalize="off"
                           th:value="${user.get().userfull}" placeholder="Full Name">
                    <label for="rname" style="left: .6rem">Full Name</label>
                </div>
                <div class="profile-int-area int_area">
                    <!-- user_introduce area -->
                    <textarea name="userintro" id="intro" placeholder="Introduce"
                              th:text="${user.get().getUserintro()}"></textarea>
                    <label for="intro" style="left: .6rem">Introduce</label>
                </div>

                <div class="btn_area">
                    <button type="submit">submit</button>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="view/layout/footer :: footerFragment"></th:block>
    <script src="/static/js/posting.js"></script>
</body>
</html>