<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="view/layout/header :: headerFragment"></th:block>
<body>
<div>
    <span><p th:text="username"></p></span>
    <form th:action="@{/ipro/user/img_insert}" method="post" enctype="multipart/form-data">
        <label for="ex_file">profile img change</label>
        <input type="file" id="ex_file" name="filename">
        <button type="submit">upload</button>
        <a th:href="@{/ipro/user/img_delete}">img delete</a>
    </form>
    <div th:if="${param.error}">
        <div class="fMsg">
            <p>error!!</p>
        </div>
    </div>
</div>
<th:block th:replace="view/layout/footer :: footerFragment"></th:block>
</body>
</html>