<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div id="modal-img_insert" class="modal-list">
    <div class="posting_container edit_container">
        <div class="form_box">
            <form id="edit_form" class="edit_form insert" enctype="multipart/form-data">
                <input type="file" id="ex_file" name="filename" class="file_input">
                <label for="ex_file">Choose Your Image</label>
                <button class="insert_btn" th:onclick="|saveUserImg('${user.get.id}')|">Insert</button>
            </form>
            <form id="delete_form" class="edit_form delete">
                <input type="hidden" name="userimg" th:value="${user.get.id}">
                <button class="delete_btn" th:onclick="|deleteUserImg('${user.get.id}')|">Post Imeage Delete</button>
            </form>
            <div class="back_button">
                <a href="">Go back</a>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/posting.js"></script>
</html>