<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/global.css">
    <link rel="stylesheet" href="/resource/css/user_main.css">
    <title th:text="${user.get().usernick} + '  Profile Page'"></title>
</head>
<body>
<!-- include header -->
<header th:include="view/layout/header"></header>
<!-- model main section start -->
<article>
    <!-- model main section header start -->
    <header>
        <div class="user_main_container">
            <!-- profile area -->
            <div class="profile">
                <!-- profile border line -->
                <div class="profile_border">
                    <!-- profile model icon area -->
                    <div class="profile_img" th:if="${user.get().userimg != null}">
                        <img th:src="@{/resource/img/profile/} + ${user.get().userimg}" alt="usericon">
                    </div>
                    <div class="profile_img" th:if="${user.get().userimg == null}">
                        <img th:src="@{/resource/img/profile/Basic.png}" alt="usericon">
                    </div>
                    <!-- profile model setting area -->
                    <div class="profile_setting">
                        <h1 class="user_name" th:text="${user.get().usernick}">
                        </h1>
                        <a th:href="@{/ipro/user/edit/{username}(username=${user.get().usernick})}"><button class="btn edit_btn">
                            Edit Profile
                        </button></a>
                        <a href="/logout"><button class="btn logout_btn">
                            <i class="fas fa-cog" aria-hidden="true"></i>
                            Logout
                        </button></a>
                    </div>
                    <!-- profile model status area -->
                    <div class="profile_stat">
                        <ul>
                            <li>
                                Posts
                                <span class="stat_cout" th:text="${imgCount}"></span>
                            </li>
                            <li>
                                <a href="">Followers</a>
                                <span class="stat_count">100</span>
                            </li>
                            <li>
                                <a href="">Following</a>
                                <span class="stat_count">3</span>
                            </li>
                        </ul>
                    </div>
                    <!-- profile model introduce area -->
                    <div class="profile_intro">
                        <p th:text="${user.get().userintro}"></p>
                    </div>
                </div>
                <!-- end of profile border line -->
            </div>
            <!-- End of profile section -->
        </div>
        <!-- End of container -->
    </header>

    <main>
        <div class="user_main_container">
            <!-- model post section start -->
            <div class="user_post_area">
                <!-- model post item -->
                <th:block th:each="post : ${post}">
                <div class="post_item">
                    <a th:href="@{/ipro/post/details/{id}(id=${post.id})}">
                        <img th:src="@{/resource/img/} + ${post.Imgurl}" alt="post_img" class="post_img">
                        <!-- post item info likes comment -->
                        <div class="post_item_info">
                            <ul>
                                <li class="item_likes">
                                    <span class="hidden">
                                        Likes:
                                    </span>
                                    <i class="fas fa-heart" aria-hidden="true"></i>
                                    56
                                </li>
                                <li class="item_commnet">
                                    <span class="item_commnet">
                                        comments:
                                    </span>
                                    <i class="fas fa-comment" aria-hidden="true"></i>
                                    2
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                </th:block>
            </div>
            <!-- end of model post section -->
        </div>
        <!-- end of container -->
    </main>
</article>
</body>
</html>