<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <title th:text="${user.get().usernick} + '  Profile Page ・ Phoblo'"></title>
    <!-- include header -->
    <th:block th:replace="view/layout/header :: headerFragment"></th:block>
<body>
<!-- model main section start -->
<main id="overlay">
    <!-- user main section header start -->
    <div class="main_header">
        <div class="user_main_container">
            <!-- profile area -->
            <div class="profile">
                <!-- profile border line -->
                <div class="profile_border">
                    <!-- profile model icon area -->
                    <div class="profile_img" th:unless="${user.get().userimg eq null}">
                        <a th:onclick="|profileImgEdit('${user.get.id}','${loginId}')|">
                            <img th:src="@{'/upload/profile/'+ ${user.get().userimg}} " alt="usericon">
                        </a>
                    </div>
                    <div class="profile_img" th:if="${user.get().userimg eq null}">
                        <a th:onclick="|profileImgEdit('${user.get.id}','${loginId}')|">
                            <img th:src="@{'/static/img/profile/Basic.png'}" alt="usericon">
                        </a>
                    </div>
                    <!-- profile model setting area -->
                    <div class="profile_setting">
                        <h1 class="user_name" th:text="${user.get().usernick}"></h1>
                        <a th:if="${loginId eq user.get().id}"
                           th:href="@{'/user/edit/' + ${user.get().usernick}}" class="btn edit_btn">
                            Edit Profile
                        </a>
                        <a th:if="${loginId eq user.get().id}" href="/logout" class="btn logout_btn">
                            Logout
                        </a>
                        <th:block th:switch="${followcount}">
                            <a th:case="false" th:unless="${loginId eq user.get().id}"
                               th:href="@{'/follow/' + ${user.get().id}}" class="btn edit_btn">
                                Follow
                            </a>
                            <a th:case="true" th:unless="${loginId eq user.get().id}"
                               th:href="@{'/unfollow/' + ${user.get().id}}" class="btn edit_btn">
                                Unfollow
                            </a>
                        </th:block>
                    </div>
                    <!-- profile model status area -->
                    <div class="profile_stat">
                        <ul>
                            <li>
                                Posts
                                <span class="stat_cout" th:text="${imgCount}"></span>
                            </li>
                            <li>
                                <a th:onclick="|modalfollower('${user.get.id}')|">Followers</a>
                                <span class="stat_count" th:text="${follower}"></span>
                            </li>
                            <li>
                                <a th:onclick="|modalFollowing('${user.get.id}')|">Following</a>
                                <span class="stat_count" th:text="${following}"></span>
                            </li>
                        </ul>
                    </div>
                    <!-- profile model introduce area -->
                    <div class="profile_intro">
                        <span th:text="${user.get().userintro}"></span>
                    </div>
                </div>
                <!-- end of profile border line -->
            </div>
            <!-- End of profile section -->
        </div>
        <!-- End of container -->
    </div>

    <!-- user modal section -->
    <div id="modal-box">
        <div id="modal-following_list"></div>
        <div id="modal-follower_list"></div>
        <div id="modal-post"></div>
        <div id="modal-img_insert"></div>
    </div>

    <!-- user main section start -->
    <div class="main_section">
        <div class="user_main_container">
            <!-- model post section start -->
            <div class="user_post_area">

                <th:block th:if="${postlist.size()} eq 0">
                    <div class="empty_feed user_main">
                        <p>Oops your post is empty Let's start sharing your moments</p>
                        <a href="">Click here sharing your moments</a>
                    </div>
                </th:block>
                <!-- model post item -->
                <th:block th:each="i : ${postlist}">

                    <div class="post_item">
                        <a th:href="@{'/post/details/' + ${i.id}}">
                            <th:block th:each="imglist : ${img}" th:if="${imglist.postid} eq ${i.id}">
                                <img th:src="@{'/upload/' +${user.get.username} + '/' + ${imglist.filename}} "
                                     alt="post_img" class="post_img user_postimg">
                            </th:block>
                            <!-- post item info likes comment -->
                            <div class="post_item_info">
                                <ul>
                                    <th:block th:each="lc : ${likes}">
                                        <li class="item_likes" th:if="${i.id eq lc.postid} and ${lc.count} >= 0">
                                            <i class="fa fa-heart heart fa-1x" aria-hidden="true"></i>
                                            <span class="item_commnet" th:text="${lc.count}">
                                        </span>
                                        </li>
                                    </th:block>

                                    <th:block th:each="li : ${count}">
                                        <li class="item_commnet" th:if="${i.id eq li.postid}">
                                            <i class="fas fa-comment" aria-hidden="true"></i>
                                            <span class="item_commnet" th:if="${li.count} >= 0" th:text="${li.count}">
                                        </span>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </a>
                    </div>

                </th:block>


            </div>
            <!-- end of model post section -->
        </div>
        <!-- end of container -->
    </div>
</main>
<th:block th:replace="view/layout/footer :: footerFragment"></th:block>
</body>
</html>