
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 14rem;
}
.body::before{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/* useredit바디 */
.edit_body{
    padding: 6.8vh 2.7vh 6.8vh 2.7vh;
    border: 1px solid #26bda4;
    border-radius: 1.5vh;
    background: white;
}
form{
    position: relative;
    z-index: 2;
}

/* 프로필사진 에리어 */
.profile_img_area{
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}
.profile_img_area img{
    margin: 0 auto 1rem;
    width: 13vh;
    height: 13vh;
    border-radius: 50%;
}
.profile_img_edit_area{
    text-align: center;
}
.img_edit a{
    text-align: center;
    text-decoration: none;
    color: #999;
    cursor: pointer;
}
.img_edit a:hover{
    color: #269180;
}
.profile_img_edit_area {
    font-size: 1.5rem;
}


/* profile-edit-int-area */
.profile-int-area {
    margin-bottom: 1rem;
}

.profile-int-area textarea {
    height: 10rem;
    resize: none;
}

/* btn_area */

.btn_area{
    margin-top: 1.5rem;
}
.edit_body .btn_area button{
    height: 3rem;
    border-radius: .23rem;
}
.btn_area button:hover{
    cursor: pointer;
    background: cadetblue;
}

/*mobile*/
@media only screen and (max-width: 768px) {
    .body {
        display: block;
        padding: 1rem 0 0;
        min-height: 0;
    }
    .body .edit_body {
        border: none;
        padding: 1rem 0 0;
    }

    .edit_body .int_area {
        width: 100%;
    }
}