footer {
    width: 100%;
    position: fixed;
    text-align: center;
    left: 0px;
    bottom: 0px;
    z-index: 10;
}

.footer_container {
    border-top: 1px solid #26bda4;
    padding: 1rem;
    font-size: 1.3rem;
    background: #26bda4;
}

.footer_icon {
    margin-right: 1rem;
    padding: .6rem 1.5rem .6rem 1.5rem;
}

.footer_icon a {
    margin: 0 1rem 0 1rem;
    text-decoration: none;
    color: #e6e9ed;
}

.footer_copy {
    margin-right: 1rem;
    color: #e6e9ed;
}

/**/

@media only screen and (max-width: 768px) {
    footer {
        display: none;
    }
}