.header_area{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #999;
    display: flex;
    background: #26bda4;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* serchBar */
.search_bar_area{
    margin-top: 5px;
    padding: 0 15px 0 0;
    position: relative;
}

.search_bar_area input{
    width: 16rem;
    padding-left: .5rem;
    height: 3rem;
    border: none;
    background: #e6e9ed;
    outline: none;
}

.search_bar_area label{
    position: absolute;
    top: 7.5px;
    left: 1rem;
    transition: 0.2s ease;
    cursor: text;
    color: #999;
}
/*.search_bar_area input::placeholder{*/
/*    opacity: 0;*/
/*}*/
.search_bar_area input:focus,
.search_bar_area input:not(:placeholder-shown){
    border: 2px solid #999;
}

.search_bar_area input:focus ~ label,
.search_bar_area input:not(:placeholder-shown) ~ label{
    transform: translate(-1%, -143%) scale(1.0);
    font-size: 13px;
    color: #fff;
}

.search_bar_area button{
    width: 3rem;
    height: 3rem;
    position: absolute;
    border: none;
    background: #e6e9ed;
    outline: none;
    font-size: 1rem;
    color: #999;
}

/* header title area */
.header_title{
    width: 80rem;
    padding: 0 0 0 8rem;
    position: relative;
    text-align: center;
}

.header_title a{
    text-decoration: none;
    color: black;
}

.header_title h1{
    margin-left: 3rem;
    font-size: 3rem;
    color: #e6e9ed;
}

.header_title h1:hover{
    text-decoration: underline;
    transition: all 2s ease;
}


/* user_nav_area */
.user_area{
    position: relative;
}

.guest {
    font-size: 1.5rem;
    margin-right: 6rem;
}

.user_area a{
    padding-left: 0.5rem;
    width: 40px;
    position: relative;
    text-decoration: none;
    color: #e6e9ed;
    cursor: pointer;
}

.user_area a:hover {
    color: #269180;
    transition: all .75s ease;
}

.user_area img{
    width: 33px;
    height: 33px;
}

.home-clicked {
    color: black;
}

/*media query*/
@media screen and (max-width: 1028px) {
    .header_area {
        width: auto;
        display: block;
    }
    .search_bar_area{
        padding: 0;
        margin-right: 2rem;
    }

    .header_title {
        width: auto;
        padding: 0;
        margin: 0;
    }
    .header_title h1 {
        width: auto;
        padding: 0;
        margin: 0;
    }

}

@media screen and (min-width: 1028px) {
    .header_area {
        width: auto;
        display: flex;
        justify-content: space-around;
    }
    .search_bar_area{
        padding: 0;
    }
    .header_title {
        width: auto;
        padding: 0;
        margin: 0;
    }
    .header_title h1 {
        width: auto;
        padding: 0;
    }

}