*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #269180;

}

.Wrapper::before{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.auth_section{
    padding: 2rem 2.5rem 2rem 2.5rem;
    border: 1px solid #26bda4;
    border-radius: 10px;
    background: white;
}

.auth_title_box{
    text-align: center;
    margin-bottom: 4rem;
}
.auth_title{
    top: 50%;
    font-size: 32px;
    color: #26bda4;
    text-align: center;
    text-decoration: none;
}
.auth_title:hover {
    color: #269180;
    transition : all .75s ease;
}
.auth_form{
    position: relative;
    z-index: 2;
}

.int_area{
    width: 30.5rem;
    position: relative;
}
.int_area:first-child{
    margin-top: 0;
}
.int_area input,
.int_area textarea{
    width: 100%;
    margin-bottom: 1rem;
    padding: 1.2rem .5rem .5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 1.5rem;
    color: black;
    outline: none;
    transition: .3s ease;
}
.int_area label{
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 1.2rem;
    transition: .3s ease;
    cursor: text;
}
.int_area input::placeholder,
.int_area textarea::placeholder{
    opacity: 0;
}
.int_area input:focus,
.int_area textarea:focus,
.int_area input:not(:placeholder-shown),
.int_area textarea:not(:placeholder-shown){
    border-bottom: 2px solid #166cea;
}
.int_area input:focus ~ label,
.int_area textarea:focus ~ label,
.int_area input:not(:placeholder-shown) ~ label,
.int_area textarea:not(:placeholder-shown) ~ label{
    transform: translate(-1%, -130%) scale(1.0);
    font-size: 13px;
    color: #166cea;
}
.int_area span{
    color: red;
    padding-left: 10px;
}

.btn_area{
    margin-top: 20px;
}
.btn_area button{
    width: 100%;
    height: 50px;
    background: #26bda4;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 15px;
}
.btn_area button:hover{
    cursor: pointer;
    background: cadetblue;
}

.fMsg{
    margin:1.1rem 0 0 0;
    color: red;
    text-align: center;
}

.auth_sign_up_form{
    padding-top: 50px;
    font-size: 18px;

}
.auth_sign_up_form a{
    color: #999;
    text-decoration: none;
}
.auth_sign_up_form a:hover{
    color: #26bda4;
    transition : all .75s ease;
}

/* sign up */

.sign_up_title{
    color: #999;
    text-decoration: none;
}

.login_btn_area {
    margin-top: 3rem;
    font-size: 1.5rem;
    color: #999;
}

.login_btn_area a {
    color: #999;
    text-decoration: none;
}

.login_btn_area a:hover {
    color: #26bda4;
    transition: .3s ease;
}

.sign_up_input {
    margin-bottom: 1rem;
}