.feed_main {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed_container {
    max-width: 100%;
    margin-bottom: 6rem;

}

.feed_container img {
    max-width: 100%;
}

.feed_container .fee_card_header {
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.feed_card_header {
    border-bottom: 1px solid #26bda4;
}

.feed_card_header img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.photo_user_info {
    display: flex;
    padding: 1rem;
}

.username {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-top: .8rem;
}
.username:hover {
    color: #26bda4;
    transition: all .15s ease;
}

.photo_card_img{
    max-width: 60vh;
    max-height: 60vh;
    list-style: none;
}

.card_img {
    object-fit: cover;
    width: 100%;
    height: 60vh;
    max-height: 100%;
}

.photo_info {
    padding: 2.5rem 0 0;
    box-sizing: border-box;
}

.photo_info .photo_actions {
    font-size: 1.2rem;
    display: flex;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.photo_info .photo_action {
    margin-right: 1.2rem;
    display: block;
    cursor: pointer;
}

.photo_action a{
    text-decoration: none;
}

.photo_action a:hover {
    color: #26bda4;
    transition: all .15s ease;
}

.photo_info .photo_like_count {
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.photo_caption {
    max-width: 432.95px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 6px;
}

.caption {
    word-break: break-word;
    padding-top: 1rem;
}

.more {
    text-decoration: none;
    color: #999999;
    padding: 1rem .5rem;
}
.more:hover {
    color: #269180;
    transition: all .3s ease;
}

.photo_tag {
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    margin-bottom: 6px;
    font-size: 1.3rem;
}

.photo_comments {
    border-top: 1px solid #26bda4;
    padding-top: .75rem;
    padding-bottom: 1rem;
}

.photo_comments .post_comment_area {
    max-width: 432.95px;
}

.photo_comments .comment_user_area {
    display: flex;
    margin-bottom: .23rem;
}


.photo_comments .photo_comment {
    margin-top: .7rem;
    padding-left: 1rem;
    list-style: none;
    font-size: 1.3rem;
}


.photo_comment .comment_user {
    text-decoration: none;
    color: #999999;
    font-weight: 600;
    margin-top: 1rem;
}
.comment_user:hover {
    color: #269180;
    transition: all .3s ease;
}

.photo_info .photo_date{
    text-transform: uppercase;
    font-size: 13px;

}

.photo_date a {
    padding-left: 1rem;
    text-decoration: none;
    color: #999;
}

.photo_info .add_comment_area {
    margin-top: 15px;
    width: 100%;
    border-top: 1px solid #26bda4;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.add_comment_area textarea:focus {
    outline: none;
}

.add_comment_area i {
    cursor: pointer;
}

.post_btn {
    margin-right: .5rem;
    background-color: #fff;
    transition: all .15s ease;
}

.heart-clicked {
    color: #26bda4;
    animation: .5s pump infinite linear;
}

.fa-comment {
    text-decoration: none;
    color: black;
}
.feed_contianer .slider li {
    min-width: 422.95px;
}

/**/
@media only screen and (max-width: 768px) {
    .feed_main {
        margin: 0;
    }
    .feed_contianer {
        border: none;
        max-width: 100%;
        margin: 0;
    }
    .photo_user_info{
        border-top: 1px solid #26bda4;
    }
    .photo_card_img {
        max-width: 100%;
    }
    .feed_contianer .slider li {
        max-width: 768px;
        min-width: 768px;
    }
    .photo_card_img img{
        width: 45vh;
        height: 45vh;
    }
    .photo_card_img .bx-wrapper{
        margin-bottom: 0;
    }
    main {
        padding: 0;
    }

}