
.posting_container {

    margin: 1rem;
    padding-top: 9rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.edit_container {
    padding-top: 18rem;
    display: grid;

}
.form_box{
    display: inline-block;
    background: rgba(var(--b3f, 250, 250, 250),1);
    border-radius: 1rem;
    color: #26bda4;
    font-weight: bold;
}
.edit_form {
    padding: 1rem 5rem;
}
.insert {
    border-bottom: 1px solid #26bda4;
}
.file_input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.file_input + label {
    color: #999;
    font-weight: 500;
    font-size: 2.5rem;
    outline: none;
}

.file_input:focus + label,
.file_input + label:hover {
    color: #269180;
    cursor: pointer;
    transition: .3s ease;
}
.insert_btn {
    font-size: 2.5rem;
    color: #26bda4;
    border: none;
    background: rgba(var(--b3f, 250, 250, 250),1);
    outline: none;
    cursor: pointer;
}
.insert_btn:hover {
    color: #269180;
    transition: .3s ease;
}
.delete_btn {
    font-size: 2.5rem;
    color: red;
    border: none;
    background: rgba(var(--b3f, 250, 250, 250),1);
    outline: none;
    cursor: pointer;
}

/* tumbnail */
.image_container {
    display: flex;
    overflow: hidden;
    width: 60rem;
    text-align: center;
}
.img_thumbnail {
    padding: 2.5rem;
    display: flex;
    justify-content: center;
}

.img_thumbnail img {
    height: 12rem;
    width: 12rem;
    object-fit: cover;
}

/* fomr area */
.form_area {
    padding-top: 1rem;
    border: 1px solid #26bda4;
    display: inline-block;
    background: rgba(var(--b3f, 250, 250, 250),1);
    border-radius: 1rem;
    color: #26bda4;
    font-weight: bold;
}

.form_area span {
    font-size: 1.3rem;
}

.posting {
    margin: 1rem 1rem 0 1rem;
    position: relative;
    display: flex;
}

.input_area {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    display: inline-block;
    border-radius: 1rem;
    background: rgba(var(--b3f, 250, 250, 250),1);
}

.file_form {
    display: flex;
}

.file_box {
    width: 100%;
    display: inline-block;
    font-size: inherit;
    line-height: normal;
    cursor: pointer;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

.file_box label {
    padding: .5rem;
    margin-right: .5rem;
    background: rgba(var(--b3f, 250, 250, 250),1);
    color: #26bda4;
    border: 1px solid #26bda4;
    border-radius: .25rem;
}
.file_box label:hover {
    background: #26bda4;
    transition: all .15s ease;
    color: #fff;
}

.file_box input[type="file"] {
    /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.upload_name {
    width: 87.3%;
    padding: .5rem;
    background: #f5f5f5;
    border: none;
    border-radius: .25em;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none;
    appearance: none;
}


.form_caption {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    height: 50%;
    outline: none;
    resize: none;
    background: #f1f1f1;
    border: none;
    border-radius: .25rem;
}

.post_btn {
    margin-top: .5rem;
    background: rgba(var(--b3f, 250, 250, 250),1);
}
.modal-pst-btn {
    margin-bottom: 3rem;
}

.back_button {
    padding: .5rem;
    border-top: 1px solid #26bda4;
    font-size: 1.3rem;
}

.back_button a {
    text-decoration: none;
    color: #999;
    font-size: 2.5rem;
    font-weight: 500;
}

.back_button a:hover {
    color: #26bda4;
    transition: all .15s ease;
}


