
.post_details_main {
    margin-top: 4rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail_main_container {
    border: 1px solid #26bda4;
    position: relative;
    background: #fff;
}


/* post user info area */

.post_user_info {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.post_user_info img{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    border-radius: 50%;
    object-fit: cover;
}

.post_user_info a {
    text-decoration: none;
    color: black;
}

.post_username {
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 10.5px;
    flex: auto;
}

.post_username:hover {
    color: #26bda4;
    transition: all .15s ease;
}

.post_edit_box {
    padding-top: 13.5px;
}

.post_edit_box a{
    padding: 0.8rem;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    border: 1px solid #26bda4;
    color: #26bda4;
    font-weight: 600;
}

.post_edit_box a:hover {
    color: #e6e9ed;
    background-color: #26bda4;
    transition: all .15s ease;
}

/* post img area */

.post_detail_img {
    border-top: 1px solid #26bda4;
    text-align: center;
}

.post_detail_img img{
    max-width: 70vh;
    max-height: 50vh;
    border-bottom: 1px solid #26bda4;
    object-fit: cover;
}

/* post info */

.posting_info {

}

.posting_caption {
    height: 12.5vh;
    padding: 1rem .5rem 1rem .5rem;
    border-bottom: 1px solid #26bda4;
}

.posting_caption .info_username{
    margin-right: .5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.info_username:hover {
    color: #26bda4;
    transition: all .15s ease;
}

.posting_caption span {
    font-size: 1.38rem;
    word-break: break-all;
}

/* post details */

.posting_info .post_info_details {
    font-size: 1.2rem;
    display: flex;
    padding: 1rem .5rem 1rem .5rem;

}

.post_info_icon {
    margin-right: 1.2rem;
    display: block;
    cursor: pointer;
}

.like_count {
    margin-top: .5rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.like_count a {
    cursor: pointer;
}

.like_count a:hover {
    color: #26bda4;
    transition: all .15s ease;
}

.post_date {
    padding : 0 .5rem;
    margin-bottom: 1.5rem;
}

.post_date a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #999;
}

/* comment area */

.post_comment_area {
    padding-left: 0.5rem;
    font-size: 1.39rem;
    display: flex;
}

.comment_user_area {
    flex: auto;
}

.comment_username {
    margin-right: .5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.comment_username:hover {
    color: #26bda4;
    transition: all .15s ease;
}

.comment_edit_area {
    margin-top: .5rem;
    margin-right: 1rem;
}

.comment_edit {
    font-size: 1rem;
    text-decoration: none;
    color: #26bda4;
    cursor: pointer;
}

.add_comment_area{
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    border-top: 1px solid #26bda4;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.add_comment_area textarea {
    padding: 1.7rem .7rem;
    border: 0;
    resize: none;
    width: 100%;
    height: 5rem;
    font-size: 1.4rem;
    outline: none;
}

.post_btn {
    margin-right: .5rem;
    font-size: 1.6rem;
    border: none;
    background-color: #fff;
    color: #26bda4;
    outline: none;
    cursor: pointer;
}

.heart-clicked {
    color: #26bda4;
    animation: .5s pump infinite linear;
}

