main {
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.user_main_container {
    min-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
    width: 10%;
}

.btn {
    padding: 0;
    display: inline-block;
    font: inherit;
    background: none;
    color: #26bda4;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

/* profile section */
.profile {
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 2rem;
    border: 1px solid #26bda4;
    border-radius: 1.5rem;
    background: #fff;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile_img {
    /*
    width: calc(33.333% - 1rem);
     */
    margin-right: 3rem;
    padding-left: 8rem;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
}

.profile_img img {
    width: 160px;
    height: 155px;
    border: solid #26bda4;
    border-radius: 50%;
    object-fit: cover;
}

.profile_setting,
.profile_stat,
.profile_intro {
    width: calc(66.666% - 2rem);
    float: left;
}

.profile_setting {
    margin-top: 1.1rem;
}

.user_name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
    margin-left: 4rem;
}

.edit_btn {
    margin-left: 1rem;
    padding: 0 2.4rem;
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    text-decoration: none;
}

.logout_btn {
    border: 0.1rem solid #dbdbdb;
    padding: 0 2.4rem;
    font-size: 1.4rem;
    line-height: 1.8;
    margin-left: 1rem;
    border-radius: 0.3rem;
}

.profile_stat {
    margin-top: 2.3rem;
}

.profile_stat li {
    margin-right: 4rem;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
}

.profile_stat li:last-of-type {
    margin-right: 0;
}

.profile_stat li a {
    text-decoration: none;
    color: black;
}

.profile_intro {
    margin-top: 1.3rem;
    padding-left: 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}


/* post section */
.user_post_area {
    margin: -1rem -1rem;
    padding: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1.5rem;
    background: #fff;
}

.post_item {
    position: relative;
    /*flex: 1 0 22rem;*/
    margin: 0.5rem;
    color: #fff;
}

.post_item a {
    text-decoration: none;
    color: #fff;
}

.post_item:hover .post_item_info,
.post_item:focus .post_item_info{
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
}

.post_item_info {
    display: none;
}

.post_item_info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.item_likes {
    margin-left: 5rem;
    margin-right: 2.2rem;
}


.post_img {
    width: 285px;
    height: 285px;
    object-fit: cover;
}

/* post is empty */

.if_post_empty {
    display: flex;
}

.user_post_empty {
    margin: 2rem 2rem 1rem 2rem;
}

.user_post_empty img {
    width: 300px;
}

.post_something {
    text-align: center;
    font-size: 3rem;
    margin-top: 11rem;
    margin-left: 5rem;
}

.post_something a {
    font-size: 2.4rem;
    text-decoration: none;
    color: black;
}

.post_something a:hover {
    color: #26bda4;
}