<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="view/layout/header :: headerFragment"></th:block>
<div class="error-box" style="justify-content: center; align-items: center">
    <div class="error" style="margin: 5rem auto; border: 1px solid #26bda4; text-align: center; width: 55rem; border-radius: .5rem;
        background: #fff; padding: 3rem 0">
        <h1 class="error-title" style="font-size: 4rem; color: #999; margin-bottom: 1rem;">ERROR</h1>
        <span style="font-size: 1.6rem;">An error has occurred Please try again or Login Please</span>
    </div>
</div>
<th:block th:replace="view/layout/footer :: footerFragment"></th:block>
</html>