<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- include header -->
<th:block th:replace="view/layout/header :: headerFragment"></th:block>
<!-- section start -->
<main id="overlay">
    <div id="modal-box">
        <div id="modal-post"></div>
        <div id="modal-like_list"></div>
        <div id="modal-search_list"></div>
    </div>
    <div class="feed_main">
        <!-- article start -->
        <th:bolck th:if="${postlist.size() == 0}">
            <article class="empty_feed">
                <p>Oops your feed is empty Let's find someone to following or sharing your moments</p>
            </article>
        </th:bolck>
        <th:block th:each="post : ${postlist}">

            <article class="feed_contianer">
                <!-- card header -->
                <div class="feed_card_header">
                    <div class="photo_user_info" th:if="${post.user.userimg != null}">
                        <img th:src="@{'/static/img/profile/' + ${post.user.userimg}}" alt="userIcon">
                        <a th:href="@{'/ipro/main/user/' + ${post.user.usernick}}"
                           class="username" th:text="${post.user.usernick}"></a>
                    </div>
                    <div class="photo_user_info" th:if="${post.user.userimg == null}">
                        <img src="/static/img/profile/Basic.png" alt="userIcon">
                        <a th:href="@{'/ipro/main/user/' + ${post.user.usernick}}"
                           class="username" th:text="${post.user.usernick}"></a>
                    </div>
                </div>

                <!-- img card area -->
                <div class="photo_card_img">
                    <div class="card_photo">
                        <img th:src="@{'/static/img/' + ${post.imgurl}}" alt="card_img" class="card_img" />
                    </div>
                </div>

                <!-- card info -->
                <div class="photo_info">

                    <div class="photo_actions">

                    <span class="photo_action">
                        <!-- likes img -->
                        <i th:if="${post.likeState} eq true" th:onclick="|unlike('${post.id}','${user.get.id}')|"
                           th:id="'like'+${post.id}" class="fa fa-thumbs-up heart-clicked fa-2x"></i>
                        <i th:if="${post.likeState} eq false" th:onclick="|like('${post.id}','${user.get.id}')|"
                           th:id="'like'+${post.id}" class="far fa-thumbs-up fa-2x"></i>
                        <th:block th:each="lC : ${likes}" th:if="${lC.count}" eq 1>
                            <a th:onclick="|likelist('${post.id}')|" class="likeCheck">
                                <span class="photo_like_count" th:if="${lC.postid == post.id} and ${lC.count} >= 0"
                                      th:text="${lC.count} + 'Likes'">
                            </span>
                            </a>
                        </th:block>
                    </span>

                    </div>

                    <!-- article caption -->
                    <div class="photo_caption">
                        <a th:href="@{'/ipro/main/user/' + ${post.user.usernick}}"
                           class="username" th:text="${post.user.usernick}"></a>
                        <span class="caption" th:text="${post.caption}"></span>
                    </div>

                    <!--                &lt;!&ndash; article tag &ndash;&gt;-->
                    <!--                <div class="photo_tag">-->
                    <!--                    #acne-->
                    <!--                </div>-->

                    <!-- article comment -->
                    <th:block th:each="li : ${count}">
                        <div class="photo_comments" th:if="${post.id == li.postid}">
                            <div class="photo_comment" th:if="${li.count} > 0">
                                <a th:href="@{'/ipro/post/details/' + ${post.id}}" class="comment_user"
                                   th:text="'View all ' + ${li.count} + ' comments'"></a>
                            </div>
                        </div>
                    </th:block>

                    <!-- article create date -->
                    <span class="photo_date">
                    <a th:href="@{'/ipro/post/details/' + ${post.id}}" th:text="${#calendars.format(post.create_date, 'MM/dd')}"></a>
                </span>

                    <!-- add comment area -->
                    <form class="add_comment_area" th:id="'ci'+${post.id}" >
                        <input type="hidden" id="postid" name="postid" th:value="${post.id}">
                        <textarea name="content" th:id="'content'+${post.id}" th:onclick="|insert('${post.id}')|"
                                  class="content" placeholder="Add a comment"></textarea>
                        <input type="hidden" th:id="'userid' + ${post.id}" name="userid" th:value="${user.get.id}">
                        <button th:onclick="|commentSend('${post.id}')|" th:id="'post_btn' + ${post.id}" class="post_btn" disabled>Post</button>
                    </form>

                </div>

            </article>
            <!-- article end -->

        </th:block>
    </div>
</main>
<!-- section end -->
<th:block th:replace="view/layout/footer :: footerFragment"></th:block>
<script th:inline="javascript" th:src="@{'/static/js/comment.js'}"></script>
<script th:inline="javascript" th:src="@{'/static/js/like.js'}"></script>
</html>