<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/singup.css">
    <title>Phoblo</title>
</head>
<body>
    <div class="sing_up_body">
        <!-- title-->
        <h1 class="sing_up_title">

            Phoblo

        </h1>
        <!-- form area -->
        <form method="post" role="form" th:action="@{/ipro/signup}" th:object="${userDto}">
            <!-- Email -->
            <div class="int_area">
                <input type="email" id="id" name="username" th:field="*{username}"
                       autocapitalize="off" placeholder="email" />
                <label for="id">Email Address</label>
                <span  th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>
            <!-- password -->
            <div class="int_area">
                <input type="password" id="pw" name="userpw" th:field="*{userpw}"
                       autocapitalize="off" placeholder="password" />
                <label for="pw">Password</label>
                <span  th:if="${#fields.hasErrors('userpw')}" th:errors="*{userpw}"></span>
            </div>
            <!-- nickname -->
            <div class="int_area">
                <input type="text" id="name" name="usernick" th:field="*{usernick}"
                       autocapitalize="off" placeholder="usernick" />
                <label for="name">User Name</label>
                <span  th:if="${#fields.hasErrors('usernick')}" th:errors="*{usernick}"></span>
            </div>
            <!-- username -->
            <div class="int_area">
                <input type="text" id="fullname" name="userfull" th:field="*{userfull}"
                       autocapitalize="off" placeholder="userfull" />
                <label for="fullname">Full Name</label>
                <span  th:if="${#fields.hasErrors('userfull')}" th:errors="*{userfull}"></span>
            </div>
            <!-- submit button --->
            <div class="btn_area">
                <button type="submit">SIGN UP</button>
            </div>
        </form>
        <!-- login button -->
        <div class="login_btn_area">
                <span>
                    Do you have an Account?<a href="login" class="ready">
                        Login
                    </a>
                </span>
        </div>
    </div>
    <th:block th:replace="view/layout/footer :: footerFragment"></th:block>
</body>
</html>